.GameCard {
  width: 16rem;
  margin: 15px;
  border: 1px solid #ccc;
  background-color: #eee;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-self: center;
}

.GameCard img {
  width: 16rem;
  height: 16rem;
  object-fit: cover;
}

.Information {
  margin: 0.5rem 1rem 1.2rem 1rem;
  height: 60%;
  text-align: center;
}

.Information p {
  font-size: 0.7rem;
}

.Information span {
  font-size: 0.8rem;
}

.first {
  order: 1;
}

.second {
  order: 2;
}

.third {
  order: 3;
}

.fourth {
  order: 4;
}

.fifth {
  order: 5;
}

.sixth {
  order: 6;
}

.seventh {
  order: 7;
}

.eighth {
  order: 8;
}
.ninth {
  order: 9;
}
.tenth {
  order: 10;
}
