.Games {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GamesTable {
  padding: 2rem;
  display: flex;
  align-items: center;
  width: auto;
  justify-content: center;
  table-layout: fixed;
}

/* .GamesGrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.GamesGrid::after {
  content: "";
  flex: auto;
} */

.GamesGrid {
  padding: 2rem 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 11rem);
  grid-gap: 6rem;
  justify-content: space-between;
}

@media (max-width: 499px) {
  .GamesTable {
    overflow: scroll;
    padding: 0;
  }
}
